*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  position: relative;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #4484ce;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 30px #333;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.logo_wrapper {
  height: 55px;
  width: 55px;
}
.logo_wrapper img {
  height: 55px;
  width: auto;
}
.navbar_text {
  display: flex;
  gap: 25px;
  list-style: none;
  text-decoration: none;
}
.navbar_text a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: bold;
  margin-left: 20px;
}
#bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  font-size: 40px;
  color: white;
  margin: 5vh 0;
  text-align: center;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}
.main_container {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
  margin-bottom: 5vh;
}
.house_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.house_group a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease;
}
.house_group a:hover {
  transform: scale(1.05);
}
.image_container {
  /* background-color: gray; */
  width: 80%;
  height: 400px;
  display: grid;
  place-content: center;
}
.image_container img {
  height: 400px;
  width: auto;
  box-shadow: 5px 5px 30px #333;
}
h3 {
  z-index: 2;
  font-size: 25px;
  color: white;
  padding-top: 6%;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
