*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  position: relative;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #4484ce;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 30px #333;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.logo_wrapper {
  height: 55px;
  width: 55px;
}
.logo_wrapper img {
  height: 55px;
  width: auto;
}
.navbar_text {
  display: flex;
  gap: 25px;
  list-style: none;
  text-decoration: none;
}
.navbar_text a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: bold;
  margin-left: 20px;
}
.navbar_btn {
  display: none;
  background-color: unset;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}

.navbar_btn img {
  width: 30px;
  height: 20px;
}

#bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  font-size: 40px;
  color: #fff;
  margin: 5vh 0;
  text-align: center;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}
.main_container {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
  margin-bottom: 5vh;
}
.house_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.house_group a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease;
}
.house_group a:hover {
  transform: scale(1.05);
}
.image_container {
  width: 80%;
  height: 400px;
  display: grid;
  place-content: center;
}
.image_container img {
  height: 400px;
  width: auto;
  box-shadow: 5px 5px 30px #333;
}
h3 {
  z-index: 2;
  font-size: 25px;
  color: #fff;
  padding-top: 6%;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}

h2 {
  font-size: 25px;
  color: #fff;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

#room_numbers {
  margin-bottom: 20px;
}

.room_button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #4484ce;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #575757;
  cursor: pointer;
  margin: 0 5px;
}
#room_image {
  height: 60vh;
}

#large_image {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 30px #333;
}

#mini_gallery {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mini_image {
  width: 100px;
  height: auto;
  cursor: pointer;
  box-shadow: 5px 5px 20px #333;
}

.selected {
  border: 2px solid white;
}

.info {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
  list-style: none;
  margin: 5px 0;
}
/* NAVBAR ONLY VVVV */
@media only screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }
  .navbar > div {
    width: 90%;
    justify-content: space-between;
  }
  .navbar_btn {
    display: block;
  }
  .navbar_text {
    display: none;
    right: 0;
    width: 150px;
    background-color: #4484ce;
    top: 60px;
    position: absolute;
    flex-direction: column;
    gap: 25px;
  }
  .active {
    display: flex;
  }

  .navbar_text {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 649px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
  .image_container {
    height: 250px;
  }
  .image_container img {
    height: 250px;
  }
  .wrapper {
    margin: 0;
  }
  #room_image {
    height: auto;
    width: 100%;
  }
  #mini_gallery {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  .mini_image {
    width: 70px;
    height: auto;
  }
  .info {
    padding: 0 10px;
  }
  .info li {
    padding: 3px 0;
  }
}
/*  */
@media only screen and (min-width: 650px) and (max-width: 991px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }

  #room_image {
    height: auto;
    width: 100%;
  }
  #mini_gallery {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .mini_image {
    width: 80px;
    height: auto;
  }
  .info {
    padding: 0 5px;
  }
  .info li {
    padding: 2px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1137px) {
  .navbar_text {
    gap: 0;
  }
  .image_container {
    height: 270px;
  }
  .image_container img {
    height: 270px;
  }
}

@media only screen and (min-width: 1138px) and (max-width: 1360px) {
  .image_container {
    height: 330px;
  }
  .image_container img {
    height: 330px;
  }
}
